.test-tray-container {
  overflow: hidden;
  white-space: nowrap;
}

.test-tray-control {
  display: flex;
  overflow-x: auto;

  background: var(--color-workspace-main);
  border-top: 4px solid var(--color-viewport-testing);
}
.test-tray-control > * {
  flex: 1;
  max-width: 8em;
}
.test-tray-control .icon-button {
  padding: 10px;

  opacity: 0.7;
  fill: var(--color-drawer-main);
  transition: opacity 0.1s ease;
}
.test-tray-control .icon-button:hover {
  opacity: 1.0;
}
.test-tray-control .icon-button:disabled {
  opacity: 0.2;
}
.test-tray-control .icon-button>svg {
  width: 4em;
  height: 4em;
}
.trash-placeholder {
  margin: 0 3em;
  padding-left: 10px;
}

.test-tray-input-string-container {
  user-select: none;
}
.test-tray-input-string-container>* {
  transition: opacity 0.3s ease;
}
.test-tray-input-string-container>.test-tray-input-char:last-child {
  text-decoration: underline;
  opacity: 0.6;
}
.test-tray-input-placeholder {
  font-size: 3em;
  color: var(--color-drawer-main);
  opacity: 0.1;
}
.test-tray-input-char {
  padding: 10px;
  font-size: 3em;
  color: var(--color-drawer-main);

  opacity: 0.2;
}
.test-tray-input-char.active {
  opacity: 1.0;
}
