.formaldef-container div.error {
  color: var(--color-drawer-error);
}
.formaldef-container > div {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.formaldef-container h3 {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  margin-top: 10px;
}
.formaldef-container .formaldef-values {
  margin: 0;
  margin-left: 5px;
}
