.tray_container {
    display: flex;
    width: 7em;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid var(--color-viewport-back-detail);
    border-radius: 2em;
    background: var(--color-viewport-back);
}

.tray_container:global(.hide) {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tray_button {
    flex: 1;
    padding: 0 0.8em;
    border-right: 1px solid var(--color-viewport-text);
    color: var(--color-viewport-back-detail);
}

.tray_button:last-child {
    border-right: none;
}

.tray_button:global(.active) {
    color: var(--color-viewport-text);
}
