#root {
  height: 100%;

  --color-toolbar-text: #FFFFFF;
  --color-toolbar-text-invert: #000000;
  --color-toolbar-main: #07889B;
  --color-toolbar-main-dark: #077787;
  --color-toolbar-accent: #FEE781;
  --color-toolbar-accent-dark: #FFCD00;

  --color-drawer-text: #FFFFFF;
  --color-drawer-text-subtle: #909090;
  --color-drawer-text-ghost: #676767;
  --color-drawer-text-back: #4D4D4D;
  --color-drawer-text-invert: #000000;
  --color-drawer-main: #575757;
  --color-drawer-main-dark: #3D3D3D;
  --color-drawer-accent: #FFF2BA;
  --color-drawer-error: #B05454;

  --color-testing-failure: #FF0000;
  --color-testing-success: #00FF00;
  --color-testing-working: #808080;
  --color-testing-text: #FFFFFF;

  --color-notification-text: #F7F5E6;
  --color-notification-info: #7D7D7D;
  --color-notification-info-dark: #3D3D3D;
  --color-notification-error: #C77575;
  --color-notification-error-dark: #B54A4A;
  --color-notification-warning: #D6A922;/*#E6CB53;*/
  --color-notification-warning-dark: #AD8715;/*#DFBC20;*/
  --color-notification-success: #A1C797;
  --color-notification-success-dark: #468C34;

  --color-viewport-error: #F54545;
  --color-viewport-warning: #E6CB53;
  --color-viewport-testing: #FFCD00;
  --color-highlight-select: #808080;

  --color-labeleditor-text: #000000;
  --color-labeleditor-main: #D3D3D3;

  --color-graph-node: #FEE781;
  --color-workspace-main: #FFFFFF;
  --color-workspace-text: #000000;

  --color-selection-main: #000000;
  --color-selection-border: #000000;
}

@keyframes app-in {
  0% { transform: translateY(100vh); }
  100% { transform: translateY(0vh); }
}
@keyframes app-out {
  0% { transform: translateY(0vh); }
  100% { transform: translateY(100vh); }
}

/*For hiding scrollbars*/
::-webkit-scrollbar {
  display: none;
}
/*
* {
  -ms-overflow-style: none;
}
*/

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1em;

  --toolbar-height: 4em;

  --panel-size: 300px;
  --panel-tab-size: 2.2em;
  --panel-border-size: 0.8em;

  --panel-tab-border: calc(var(--panel-tab-size) + var(--panel-border-size));
}

.toolbar-container{
  z-index: 1000;
}

.workspace-container {
  flex-grow: 1;

  height: calc(100% - var(--toolbar-height));
}

#workspace-content {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.workspace-main {
  position: fixed;
  height: inherit;

  transition: opacity 0.1s ease, right 0.3s ease;

  width: calc(100% - var(--panel-tab-border));
  right: var(--panel-tab-border);
}

.workspace-viewport {
  z-index: 500;
  position: fixed;
  left: 0px;
  height: inherit;
  pointer-events: none;

  transition: width 0.3s ease;

  width: calc(100% - var(--panel-tab-border));
}
.workspace-viewport>* {
  pointer-events: auto;
}

.workspace-drawer {
  z-index: 800;
  position: fixed;
  width: var(--panel-size);/* Drawer width */
  height: inherit;

  transition: right 0.3s ease;

  right: calc(-1 * var(--panel-size) + var(--panel-tab-border));/* -(Drawer width) */
}
.workspace-drawer.open.fullscreen {
  width: 100%;
}

.workspace-main.open {
  right: calc(var(--panel-size) / 2);/* (Drawer width) / 2 */
}
.workspace-viewport.open {
  width: calc(100% - var(--panel-size));/* width - (Drawer width) */
}
.workspace-drawer.open {
  right: 0px;/* At edge */
  max-width: 100%;
}

/*Refer to Drawer.css*/
@media screen and (max-width: 420px) {
  .workspace-main {
    right: 0px;/* Overwrite changes */
    width: 100%;/* Overwrite changes */
    height: calc(100% - var(--toolbar-height) - var(--panel-tab-border));/* Overwrite changes */

    transition: bottom 0.3s ease;

    bottom: var(--panel-tab-border);
  }
  .workspace-viewport {
    transition: height 0.3s ease;

    width: 100%;/* Overwrite changes */
    height: calc(100% - var(--toolbar-height) - var(--panel-tab-border));
  }
  .workspace-drawer {
    right: -1 * var(--panel-size) + var(--panel-tab-border); /* Overwrite changes */

    width: 100%;
    height: var(--panel-size);/* Drawer height */

    /* BUGFIX: when expands, it will not translate the right property*/
    transition:
      bottom 0.3s ease;

    bottom: calc(-1 * var(--panel-size) + var(--panel-tab-border));/* -(Drawer width) */
  }
  .workspace-drawer.open.fullscreen {
    height: calc(100% - var(--toolbar-height));
  }

  .workspace-main.open {
    right: 0px; /* Overwrite changes */
    height: inherit;/* Overwrite changes */

    bottom: calc(var(--panel-size) / 2);/* (Drawer width) / 2 */
  }
  .workspace-viewport.open {
    width: 100%; /* Overwrite changes */

    height: calc(100% - var(--toolbar-height) - var(--panel-size));/* Height - Drawer height - toolbar*/
  }
  .workspace-drawer.open {
    right: 0px; /* Overwrite changes */
    max-height: calc(100% - var(--toolbar-height));

    transition: bottom 0.3s ease;

    bottom: 0px;
  }
}
