.machine-type {
  width: 100%;
  margin-bottom: 5px;
}

.graphinfo-important {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  /*border-bottom: 2px solid var(--color-drawer-text-subtle);*/

  padding: 10px;
}

.graphinfo {
  display: flex;
  flex-direction: column;

  padding: 10px;
}
