.alphatag-container {
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  background: #4D4D4D;
}

.alphatag-input {
  background: none;
  border: none;
  outline: none;
  width: 1ch;
  color: var(--color-drawer-text-subtle);
  font-size: inherit;
  font-family: 'Overpass Mono', monospace;
}

