.panel-container {
  height: 100%;
  overflow-y: auto;
}

.panel-title {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  /*
  position: sticky;
  top: 0px;

  background: #FAFAFA;
  */
}

.panel-button {
  width: 100%;
  font-size: 12px;
}

.panel-button-label {
  display: block;
}
