.panel-container {
  height: 100%;
  overflow-y: auto;
}
.panel-bottom {
  height: 50px;/*Extra bottom padding for PC scrolling*/
}

.panel-title {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  /*
  position: sticky;
  top: 0px;

  background: #FAFAFA;
  */
}

.panel-button {
  width: 100%;
  font-size: 0.8em;
  outline: none;

  cursor: pointer;
  background: white;
  color: black;

  border-radius: 10px;

  transition: background 0.3s ease;
}
.panel-button:hover {
  background: lightgray;
}
.panel-button>label {
  /*TODO: What goes here?*/
}
.panel-checkbox {
  padding-bottom: 5px;
}
.panel-checkbox>label {
  padding-left: 5px;
}
.panel-select {
  width: 100%;
  font-size: 0.8em;
  outline: none;

  cursor: pointer;
  background: white;
  color: black;
}
