{
    "plugins": [],
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
    "env": {
      "test": {
        "plugins": [
          /* Allows Storybook to execute scripts in a sub-directory */
          "require-context-hook"
        ]
      }
    }
}