{
    "plugins": [],
    "presets": [
      [
        "@babel/preset-env",
        { "useBuiltIns": "entry", "corejs": 3 }
      ],
      "@babel/preset-react"
    ],
    "env": {
      "test": {
        "plugins": [
          /* Allows Storybook to execute scripts in a sub-directory */
          "require-context-hook"
        ]
      }
    }
}