{
    "*.js|*.jsx": [
        "npm run lint-js -- --fix",
        "git add",
        "jest --config \".jest/config.js\" --bail --findRelatedTests"
    ],
    "*.css": [
        "npm run lint-css -- --fix",
        "git add"
    ]
}