{
    "*.js|*.jsx": [
        "eslint --fix",
        "git add",
        "jest --config \".jest/config.js\" --bail --findRelatedTests"
    ],
    "*.css": [
        "stylelint --fix",
        "git add"
    ]
}