.icon-toggle {
  transition:
    fill 0.3s ease,
    transform 0.3s ease;
}
.icon-toggle.open, .icon-toggle:hover {
  transform: rotate(-180deg);
}
.icon-toggle.open:hover {
  transform: rotate(0deg);
}
