:local(.trash_container) {
  width: 3.5em;
  padding: 0.5em;

  cursor: pointer;

  fill: var(--color-viewport-text);

  opacity: 1;
  transition: opacity 0.3s ease;
}
:local(.trash_container).active {
  fill: var(--color-viewport-error);
}
:local(.trash_container).hide {
  opacity: 0;
  transition: opacity 0.3s ease;
}
:local(.trash_container) > * {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
