.statetag-container {
  margin: 3px;
  padding: 3px;

  border-radius: 5px;
}
.statetag-container:nth-child(2) {
  outline: 2px dashed var(--color-drawer-text-ghost);
  outline-offset: 2px;
  margin-left: -2px;
}

/*Backgrounds based on input type*/
.statetag-container {
  background: var(--color-drawer-text-back);
}
.statetag-container.emptytag {
  background: var(--color-drawer-error);
}
.statetag-container.errortag {
}

/*Colors based on input type*/
.statetag-container > input {
  color: var(--color-drawer-text-subtle);
}
.statetag-container.customtag > input {
  color: var(--color-drawer-text);
}
.statetag-container.errortag > input {
  color: var(--color-drawer-error);
}

.statetag-container > input {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  height: 100%;

  font-size: 1.2em;
  font-family: monospace;
}
.statetag-container > input.accept {
  margin: -3px;/*Remove border space*/
  /*text-decoration: underline;*/
  border: 3px solid var(--color-drawer-text-subtle);
  border-radius: 5px;
}
