/********* APP BAR *********/
:local(.app_bar) {
  --toolbar-height: 80px;

  --color-toolbar-highlight: gold;
  --color-toolbar-back: olivedrab;
  --color-toolbar-back-detail: olive;
  --color-toolbar-menu: olivedrab;
  --color-toolbar-menu-detail: darkolivegreen;
  --color-toolbar-menu-active: olivedrab;
  --color-toolbar-menu-disabled: olivedrab;
  --color-toolbar-text: white;
  --color-toolbar-text-active: gold;
  --color-toolbar-text-disabled: darkolivegreen;

  z-index: 1000;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  height: var(--toolbar-height);
  transition: height 0.3s ease 0.3s,
    border-bottom 0.3s ease 0.3s;/* for hide animation */

  border-bottom: 4px solid var(--color-toolbar-highlight);
  background: var(--color-toolbar-back);
  color: var(--color-toolbar-text);
}
:local(.app_bar).open {
  height: 100%;
  transition: height 0.3s ease;
}
/* for hide animation */
:local(.app_bar).hide {
  height: 0px;
  border-bottom: 0px solid transparent;

  visibility: hidden;
  transition: height 0.3s ease,
    border-bottom 0.3s ease, visibility 0s linear 0.3s;/* for hide animation */
}

/********* MENU *********/
:local(.bar_menu) {
  flex: 1;
  visibility: visible;
  overflow: auto;

  transform: translateY(0);
  transition: visibility 0s linear 0.3s, transform 0.3s ease 0.3s;
}
:local(.app_bar):not(.open) :local(.bar_menu) {
  visibility: hidden;
  transform: translateY(-100vh);
  transition: visibility 0s linear 0.3s, transform 0.3s ease;
}

/********* MENU CONTENTS *********/
:local(.menu_container) {
  animation-name: toolbar-view-slidein-child;
  animation-duration: 0.3s;
}
:local(.menu_button_container) {
  animation-name: toolbar-view-slidein;
  animation-duration: 0.3s;
}
:local(.menu_button_container) {
  display: flex;
  flex-direction: column;
}
:local(.menu_button_container) > * {
  flex: 1;
  display: flex;
  flex-direction: row;
}
:local(.menu_button_container) button {
  background: var(--color-toolbar-menu);
  border-bottom: 2px solid var(--color-toolbar-menu-detail);

  /* Override default icon button size */
  width: 100%;
}
:local(.menu_button_container) button:hover {
  background: var(--color-toolbar-menu-active);
}
:local(.menu_button_container) button:disabled {
  background: var(--color-toolbar-menu-disabled);
}
:local(.menu_button_container) button svg {
  width: 16vh;
}
:local(.menu_button_container) button label {
  flex: 1;
  font-size: 10vmin;
  align-self: center;

  /* Override default icon button styles */
  position: relative;
  opacity: 1;
}
@keyframes toolbar-view-slidein {
  from { transform: translateY(-100vh); }
  to { transform: translateY(0); }
}
@keyframes toolbar-view-slidein-child {
  from { transform: translateY(100vh); }
  to { transform: translateY(0); }
}

/********* TOOLBAR *********/
:local(.bar_toolbar) {
  height: var(--toolbar-height);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
:local(.toolbar_button_container) {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;

  visibility: visible;
  transform: translateX(0);
  transition: visibility 0s linear, transform 0.3s ease;
}
:local(.app_bar).open :local(.toolbar_button_container) {
  visibility: hidden;
  transform: translateX(-100vw);
  transition: visibility 0s linear 0.6s, transform 0.3s ease 0.3s;
}

/********* TOOLBAR CONTENTS *********/
:local(.toolbar_title) {
  padding: 0px 10px;
  z-index: 10001;
  margin-right: auto;

  background: var(--color-toolbar-back);
  border-right: 4px dashed var(--color-toolbar-back-detail);
}
:local(.toolbar_expander) {
  z-index: 10001;
  margin: auto;
  margin-left: 1em;
  margin-right: 10px;

  width: 3em;
  height: 3em;

  background: var(--color-toolbar-back);
}
