/********* APP BAR *********/
:local(.app_bar) {
  --toolbar-height: 80px;

  --color-toolbar-main: darkgray;
  --color-toolbar-main-dark: black;
  --color-toolbar-accent: gray;
  --color-toolbar-text: white;
  --color-toolbar-text-active: gold;

  z-index: 1000;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  height: var(--toolbar-height);
  transition: height 0.3s ease 0.3s,
    border-bottom 0.3s ease 0.3s;/* for hide animation */

  border-bottom: 4px solid var(--color-toolbar-accent);
  background: var(--color-toolbar-main);
  color: var(--color-toolbar-text);
}
:local(.app_bar).open {
  height: 100%;
  transition: height 0.3s ease;
}
/* for hide animation */
:local(.app_bar).hide {
  height: 0px;
  border-bottom: 0px solid transparent;

  visibility: hidden;
  transition: height 0.3s ease 0.3s,
    border-bottom 0.3s ease 0.3s, visibility 0s linear 0.6s;/* for hide animation */
}

/** ICON STYLES **/
:local(.app_bar) .icon-button {
  width: 6em;
}
:local(.app_bar) .icon-button {
  fill: var(--color-toolbar-text);
  transition: fill 0.3s ease;
}
:local(.app_bar) .icon-button:hover {
  fill: var(--color-toolbar-text-active);
}
:local(.app_bar) .icon-button:disabled {
  fill: var(--color-toolbar-main-dark);
}

/********* MENU *********/
:local(.bar_menu) {
  display: flex;
  flex-direction: column;
  flex: 1;

  visibility: visible;
  transform: translateY(0);
  transition: visibility 0s linear 0.3s, transform 0.3s ease 0.3s;
}
:local(.app_bar):not(.open) :local(.bar_menu) {
  visibility: hidden;
  transform: translateY(-100vh);
  transition: visibility 0s linear 0.3s, transform 0.3s ease;
}
:local(.menu_button) {
  flex: 1;
  display: flex;
  flex-direction: row;

  /* Override default icon button size */
  width: 100% !important;

  color: var(--color-toolbar-text);
  border-bottom: 4px solid var(--color-toolbar-accent);
}
:local(.menu_button):hover {
  background: var(--color-toolbar-text-active);
  /* Override default toolbar color change on hover */
  fill: var(--color-toolbar-text)!important;
}
:local(.menu_button):disabled {
  background: var(--color-toolbar-main-dark);
}
:local(.menu_button) > svg {
  width: 6em;
}
:local(.menu_button) > label {
  flex: 1;
  font-size: 2.5em;
  align-self: center;
}

/********* TOOLBAR *********/
:local(.bar_toolbar) {
  height: var(--toolbar-height);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
:local(.toolbar_button_container) {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  visibility: visible;
  transform: translateX(0);
  transition: visibility 0s linear, transform 0.3s ease;
}
/*Used only for the fade into effect*/
:local(.toolbar_button_container):after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background: linear-gradient(to right, transparent 60%, var(--color-toolbar-main));
}
:local(.app_bar).open :local(.toolbar_button_container) {
  visibility: hidden;
  transform: translateX(-100vw);
  transition: visibility 0s linear 0.6s, transform 0.3s ease 0.3s;
}
:local(.toolbar_button) {
}
:local(.toolbar_title) {
  padding: 0px 10px;
  z-index: 10001;
  margin-right: auto;

  background: var(--color-toolbar-main);
  border-right: 4px dashed var(--color-toolbar-accent);
}
:local(.toolbar_expander) {
  flex-shrink: 0;
  z-index: 10001;
  margin: auto auto;
  margin-left: auto;

  height: 3em;
}
