/********* APP BAR *********/
:local(.app_bar) {
  --toolbar-height: 80px;

  --color-toolbar-main: darkgray;
  --color-toolbar-accent: gray;
  --color-toolbar-text: white;

  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  height: var(--toolbar-height);
  transition: height 0.3s ease 0.3s;

  border-bottom: 4px solid var(--color-toolbar-accent);
  background: var(--color-toolbar-main);
  color: var(--color-toolbar-text);
}
:local(.app_bar).open {
  height: 100%;
  transition: height 0.3s ease;
}
:local(.app_bar) .icon {
  fill: var(--color-toolbar-text);
}
:local(.bar_menu) {
  display: flex;
  flex-direction: column;
  flex: 1;

  visibility: visible;
  transform: translateY(0);
  transition: visibility 0s linear 0.3s, transform 0.3s ease 0.3s;
}
:local(.app_bar):not(.open) :local(.bar_menu) {
  visibility: hidden;
  transform: translateY(-100vh);
  transition: visibility 0s linear 0.3s, transform 0.3s ease;
}
:local(.menu_button) {
  flex: 1;
}
:local(.bar_toolbar) {
  height: var(--toolbar-height);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
:local(.app_bar).open :local(.toolbar_group) {
  visibility: hidden;
}
:local(.toolbar_button_container) {
  flex: 1;
  display: flex;
  flex-direction: row;

  visibility: visible;
  transform: translateX(0);
  transition: visibility 0s linear, transform 0.3s ease;
}
:local(.app_bar).open :local(.toolbar_button_container) {
  visibility: hidden;
  transform: translateX(-100vw);
  transition: visibility 0s linear 0.6s, transform 0.3s ease 0.3s;
}
:local(.toolbar_button) {
  flex: 1;
}
:local(.toolbar_title) {
  z-index: 10001;
  margin-right: auto;

  background: var(--color-toolbar-main);
}
:local(.toolbar_expander) {
  z-index: 10001;
  margin-left: auto;

  /* No button styles */
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
