.subtitle {
  pointer-events: none;
  cursor: none;
  user-select: none;

  font-size: 1em;
  fill: rgba(0,0,0,0.1);

  opacity: 0.0;
  transition: opacity 0.3s ease;
}

.subtitle.visible {
  opacity: 1.0;
  transition: opacity 3s ease;
}
