.transitionfunction-container {
  width: 100%;
  overflow: auto;
  text-align: center;
}

.transitionfunction-table th, .transitionfunction-table td {
  padding: 5px;
  border-radius: 5px;
  background: var(--color-drawer-text-back);
}

.transitionfunction-table th {
  color: var(--color-drawer-text);
}

.transitionfunction-table td {
  color: var(--color-drawer-text-subtle);

  font-size: 1.2em;
  font-family: monospace;
}

.transitionfunction-table td.accept {
  text-decoration: underline;
}

.transitionfunction-table td.error {
  color: var(--color-drawer-error);
}

.transitionfunction-key {
}

.transitionfunction-value {
}
