.test-input-container {
  display: flex;
  flex-direction: row;

  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  height: 1.5em;
  border-bottom: 1px solid var(--color-drawer-text-subtle);

  white-space: nowrap;
}

.test-input-placeholder {
  border-bottom: 2px solid var(--color-drawer-text-subtle);
}

.test-input-field {
  flex-grow: 1;
  font-size: 16px;
  min-width: 0;

  background: none;
  outline: none;
  border: none;

  color: var(--color-drawer-text);
}
.test-input-field::placeholder {
  color: var(--color-drawer-text-subtle);
}
.test-input-field::-ms-input-placeholder {
  color: var(--color-drawer-text-subtle);
}

.test-input-container .status-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.test-input-addremove {
  fill: var(--color-drawer-text-subtle);
  float: right;
}

.test-input-addremove:hover {
  fill: var(--color-drawer-text);
}
