/********* APP BAR *********/
:local(.app_bar) {
  --toolbar-height: 80px;

  --color-toolbar-highlight: var(--color-accent);
  --color-toolbar-back: var(--color-primary);
  --color-toolbar-back-detail: var(--color-primary-lite);
  --color-toolbar-menu: var(--color-primary);
  --color-toolbar-menu-detail: var(--color-primary-dark);
  --color-toolbar-menu-active: var(--color-primary);
  --color-toolbar-menu-disabled: var(--color-primary);
  --color-toolbar-text: var(--color-primary-text);
  --color-toolbar-text-active: var(--color-accent);
  --color-toolbar-text-disabled: var(--color-primary-dark);

  --color-panel-back: var(--color-toolbar-back);
  --color-panel-back-detail: var(--color-toolbar-back-detail);
  --color-panel-back-input: var(--color-surface-lite);
  --color-panel-back-text: var(--color-surface-text-alt);
  --color-panel-text: var(--color-surface-text);
  --color-panel-text-active: var(--color-toolbar-text-active);
  --color-panel-text-disabled: var(--color-toolbar-text-disabled);
  --color-panel-error: var(--color-error);
  --color-panel-accent: var(--color-toolbar-highlight);

  z-index: 1000;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  height: var(--toolbar-height);
  transition: height 0.3s ease 0.3s,
    border-bottom 0.3s ease 0.3s;/* for hide animation */

  border-bottom: 4px solid var(--color-toolbar-highlight);
  background: var(--color-toolbar-back);
  color: var(--color-toolbar-text);
}
:local(.app_bar).open {
  height: 100%;
  transition: height 0.3s ease;
}
/* for hide animation */
:local(.app_bar).hide {
  height: 0px;
  border-bottom: 0px solid transparent;

  visibility: hidden;
  transition: height 0.3s ease,
    border-bottom 0.3s ease, visibility 0s linear 0.3s;/* for hide animation */
}

/********* MENU *********/
:local(.bar_menu) {
  flex: 1;
  visibility: visible;
  overflow: hidden;

  display: flex;

  transform: translateY(0);
  transition: visibility 0s linear 0.3s, transform 0.3s ease 0.3s;
}
:local(.app_bar):not(.open) :local(.bar_menu) {
  visibility: hidden;
  transform: translateY(-100vh);
  transition: visibility 0s linear 0.3s, transform 0.3s ease;
}

/********* MENU CONTENTS *********/
:local(.menu_container) {
  position: relative;
  flex: 2;
  animation-name: toolbar-view-slidein-child;
  animation-duration: 0.3s;

  overflow: auto;
  margin-left: 1em;
  margin-right: 1em;
}
:local(.menu_button_container) {
  position: relative;
  display: flex;
  flex-direction: column;

  animation-name: toolbar-view-slidein;
  animation-duration: 0.3s;

  overflow: auto;
  padding-left: 1em;
  padding-right: 1em;
  border-left: 4px solid var(--color-panel-accent);
}
:local(.menu_button_container) > * {
  flex: 1;
  display: flex;
  flex-direction: row;
}
:local(.menu_button_container) button {
  background: var(--color-toolbar-menu);
  border-bottom: 1px solid var(--color-toolbar-menu-detail);
  /* Override default icon button size */
  width: 100%;

  text-align: right;
}
:local(.menu_button_container) button:last-of-type {
  border-bottom: none;
}
:local(.menu_button_container) button:hover {
  background: var(--color-toolbar-menu-active);
}
:local(.menu_button_container) button:disabled {
  background: var(--color-toolbar-menu-disabled);
}
:local(.menu_button_container) button svg {
  width: 10vmin; /* 16vmin*/
  height: 10vmin; /* 16vmin*/
  margin: 0.5em;

  min-width: 2em;
  min-height: 2em;
}
:local(.menu_button_container) button label {
  text-align: center;
  align-self: center;
  margin-right: 0.5em;
}
@media only screen and (min-width: 700px) {
  :local(.menu_button_container) button label {
    flex: 1;
    font-size: 2em; /* 9vmin */

    /* Override default icon button styles */
    position: relative;
    opacity: 1;
  }
}

@keyframes toolbar-view-slidein {
  from { transform: translateY(-100vh); }
  to { transform: translateY(0); }
}
@keyframes toolbar-view-slidein-child {
  from { transform: translateY(100vh); }
  to { transform: translateY(0); }
}

/********* TOOLBAR *********/
:local(.bar_toolbar) {
  height: var(--toolbar-height);
  display: flex;
  flex-direction: row;
  overflow: hidden;

  border-top: 2px solid var(--color-toolbar-text-disabled);
}
:local(.toolbar_button_container) {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;

  visibility: visible;
  transform: translateX(0);
  transition: visibility 0s linear, transform 0.3s ease;
}
:local(.app_bar).open :local(.toolbar_button_container) {
  visibility: hidden;
  transform: translateX(-100vw);
  transition: visibility 0s linear 0.6s, transform 0.3s ease 0.3s;
}

/********* TOOLBAR CONTENTS *********/
:local(.toolbar_title) {
  padding: 0.2em 1em;
  z-index: 10001;
  margin-right: auto;

  width: 30%;
  max-width: 20em;

  background: var(--color-toolbar-back);
}
:local(.app_bar).open :local(.toolbar_title) input {
  opacity: 1;
}
:local(.toolbar_expander) {
  z-index: 10001;
  margin: auto;
  margin-left: 1em;
  margin-right: 10px;

  width: 3em;
  height: 3em;

  background: var(--color-toolbar-back);
}
