.container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sidebar {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background: #333641;
    padding: 0.3rem;

    /**
     * HACK: Overrides the 'none' for workspace foreground input events.
     * Refer to WorkspaceLayout for more info.
     **/
    pointer-events: auto;
}

.viewport {
    flex: 1;
    width: 100%;
    height: 100%;
}

.sidebar:global(.left) {
    width: 2rem;
}

.sidebar:global(.right) {
    width: 2rem;
}

.sidebar:global(.top) {
    height: 2rem;
}

.sidebar:global(.bottom) {
    height: 2rem;
}
