.infoblock-container {
  position: relative;
  padding: 5px;
}

.infoblock-container .icon-toggle {
  margin-top: 4px;/* Make it vertically centered */
  margin-right: 5px;/* Make it horizontally centered */

  position: absolute;
  top: 0;
  right: 0;
}

.infoblock-header {
  width: 100%;
  position: relative;
  padding-bottom: 5px;

  white-space: nowrap;
  overflow: hidden;

  text-align: left;
}

.infoblock-header label {
  font-size: 1.2em;

  cursor: pointer;
  user-select: none;
}

.infoblock-content {
  font-size: 1em;
  border-left: 2px solid var(--color-drawer-text-subtle);
  padding-left: 10px;
}
