.navBar{
    background-color: #006A96;
}

.navTitle {
    font-size: 30px;
    margin-right: 0px;
}

.navType {
    text-decoration: none;
    color: #C69214;
    float: left;
    margin-left: 0px;
    font-size: 30px;
}

.navType:hover {
    color: #C69214;
}

.navOption {
    float: left;
}

.navToggler {
    float: left;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    overflow: hidden;
}
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}

.navIcon {
    fill: white;
}