.notification-stack {
  position: fixed;
  top: var(--toolbar-height);
  z-index: 999;

  max-height: calc(100vh - var(--toolbar-height));
  overflow-y: scroll;
}

.notification-message {
  padding: 10px;
  margin: 10px;

  width: 12em;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  color: var(--color-notification-text);

  border-top: 4px solid var(--color-notification-info-dark);
  background: var(--color-notification-info);
}
.notification-error {
  border-top: 4px solid var(--color-notification-error-dark);
  background: var(--color-notification-error);
}
.notification-warning {
  border-top: 4px solid var(--color-notification-warning-dark);
  background: var(--color-notification-warning);
}
.notification-response {
  display: flex;
  flex-direction: row;

  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.notification-response > * {
  flex-grow: 1;
}
