.icon_button {
    position: relative;
    background-color: transparent;
    color: inherit;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
}

.icon_button * {
    pointer-events: none;
}

.icon_button:disabled {
    cursor: auto;
}

.icon_button svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.icon_button label {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 0.8em;
    opacity: 0;
}

.icon_button:global(.hint) svg {
    opacity: 0.1;
}

.icon_button:global(.hint) label {
    opacity: 1;
}
