:local(.zoom_container) {
  display: flex;
  flex-direction: column;
}
:local(.zoom_button) {
  margin-bottom: -0.75em;
}
:local(.zoom_label) {
  font-size: 0.5em;
  text-align: center;

  margin-top: 0.75em;
}
