.hamburger-container {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  right: 0;
}
.hambar1, .hambar2, .hambar3 {
    width: 2em;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.hambar1.open {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.hambar2.open {
  opacity: 0;
}

.hambar3.open {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
