.statelist-container {
  position: relative;
  padding: 5px;

  border: 1px solid black;
}

.statelist-container .icon {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  fill: white;
}

.statelist-container .create-icon {
  margin-bottom: 5px;
  margin-right: 5px;

  position: absolute;
  right: 0;
  bottom: 0;
}

.statelist-container .collapse-icon {
  margin-top: 12px;
  margin-right: 8px;

  position: absolute;
  top: 0;
  right: 0;
}

.statelist-header {
  margin-bottom: 5px;
}

.statelist-header label {
  font-size: 1.2em;
}

.statelist-content {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-right: 24px;

  font-size: 1em;
}

.statelist-content .start-icon {
  font-size: inherit;
  margin-top: 0.3em;/* Same as vertical-align: middle; */
  margin-right: -2px;
}

.statelist-content>*:nth-child(2) {
  outline: 2px dashed rgba(255, 255, 255, 0.1);
}
