.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.foreground {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /**
     * HACK: Overrides the input events for workspace foreground.
     * This let's you actually click background stuff. BUT, you
     * will need to enable pointer-events for everything that
     * you want to be able to click. :(
     *
     * Refer to DrawerLayer and SideBarLayout for how this is done.
     **/
    pointer-events: none;
}
