.trash_container {
    width: 4em;
    height: 4em;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 1em;
    opacity: 1;
    transition:
        opacity 0.3s ease,
        color 0.15s ease,
        background-color 0.15s ease;
}

.trash_container:global(.active) {
    background-color: var(--color-viewport-back);
}

.trash_container:global(.hide) {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.trash_container > * {
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: var(--color-viewport-text);
}

.trash_container:global(.active) > * {
    color: var(--color-viewport-error);
}
