.alphatag-container {
  margin: 3px;
  padding: 3px;
  border-radius: 5px;
}

.alphatag-input {
  background: none;
  border: none;
  outline: none;
  width: 1ch;
  color: var(--color-drawer-text-subtle);

  font-size: 1.2em;
  font-family: monospace;
}

/*Backgrounds based on input type*/
.alphatag-container {
  background: var(--color-drawer-text-back);
}
.alphatag-container.emptytag {
  background: var(--color-drawer-error);
}
.alphatag-container.errortag {
}

/*Colors based on input type*/
.alphatag-container > input {
  color: var(--color-drawer-text-subtle);
}
.alphatag-container.usedtag > input {
  color: var(--color-drawer-text);
}
.alphatag-container.errortag > input {
  color: var(--color-drawer-error);
}
