:local(.section_container) {
  width: 100%;
}
:local(.section_header) {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;

  padding: 0.1em;
  border-bottom: 1px solid var(--color-panel-back-detail);
  background: var(--color-panel-back);
}
:local(.section_header):hover {
  background: var(--color-panel-back-detail);
}
:local(.section_header):disabled {
  color: var(--color-panel-text-disabled);
  background: var(--color-panel-back);
}
:local(.section_header) svg {
  max-width: 2em;
  max-height: 2em;
  width: 2em;
  height: 2em;
}
:local(.section_header) label {
  text-align: left;
  align-self: center;
  width: 100%;
  padding-left: 5px;

  /*TODO: Remove all !important here in the future, this is only to fix compat with old App*/
  font-size: 1.2em!important;

  /* Override default icon button styles */
  display: inline-block!important;
  position: relative!important;
  opacity: 1!important;
}

:local(.section_content_container) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: 1px solid var(--color-panel-back-detail);

  display: none;
}
:local(.section_content_container):not(.full) {
  overflow-y: auto;
  max-height: 30vh;
}

:local(.section_content_container).open {
  display: block;
}

:local(.section_content) {
  padding-left: 0.2em;
  padding-right: 1em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

:local(.section_content_container).open :local(.section_content) {
  animation-name: panel-section-slidein;
  animation-duration: 0.3s;
}

@keyframes panel-section-slidein {
  from { transform: translateX(30%); }
  to { transform: translateX(0%); }
}
