:local(.switch_container) {
  display: flex;
  margin: 0.1em 0;
  padding: 0.2em;

  /*border: 1px solid var(--color-panel-back-detail);*/
  border-radius: 1em;
}

:local(.switch_label) {
  flex: 1;
  align-self: center;
  margin: 0 0.3em;
  text-align: right;

  cursor: pointer;
}

:local(.panel_switch) input {
  position: absolute;
  -webkit-appearance: none;
}

:local(.panel_switch) {
  display: inline-block;
  font-size: 1.3em;
  width: 2em;
  height: 1em;
  background: var(--color-panel-back-input);
  border-radius: 1em;

  cursor: pointer;

  transition: background 0.3s ease;
}

:local(.panel_switch) :local(.switch_slider) {
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background: var(--color-panel-back-text);

  transition: transform 0.3s ease;
}

:local(.panel_switch) input:checked + :local(.switch_slider) {
  transform: translate3d(100%, 0, 0);
}
:local(.switch_container).active :local(.panel_switch) {
  background: var(--color-panel-accent);
}
:local(.switch_container).disabled :local(.switch_label) {
  color: var(--color-panel-text-disabled);
  cursor: auto;
}
:local(.switch_container).disabled :local(.panel_switch) {
  background: transparent;
  border: 1px dashed var(--color-panel-back-detail);
  margin: -1px;
  cursor: auto;
}
:local(.switch_container).disabled :local(.switch_slider) {
  background: var(--color-panel-back-input);
}
