:local(.button_container) {
  outline: none;
  cursor: pointer;
  margin: 0.3em 0em;
  font-size: 1em;
  border-radius: 1em;
  background: var(--color-panel-back-text);
  color: var(--color-panel-text);
}
