#trash-btn {
  width: 3em;
  height: 3em;
  padding: 10px;
  cursor: pointer;

  opacity: 1.0;
  fill: var(--color-drawer-main);
  transition: fill 0.3s ease, opacity 0.1s ease;
}
#trash-btn.danger {
  fill: var(--color-drawer-error);
}
#trash-btn.hidden {
  opacity: 0.0;
}
