.status-icon {
  fill: var(--color-testing-text);
}
.status-icon.active {
  fill: var(--color-testing-working);
}
.status-icon.active.success {
  fill: var(--color-testing-success);
}
.status-icon.active.failure {
  fill: var(--color-testing-failure);
}
