.drawer-container {
  padding-left: 2em;/* Height of tabs */
  height: 100%;

  background: #FAFAFA;

  transition: padding-top 0.2s;
  border-left: 5px solid lightgray;

  /* DEBUG */
  background: red;
}
.tab-list {
  position: absolute;
  top: 0;
  left: 0;

  width: calc(100vh - 4em);/* Parent width - border */
  height: calc(2em + 5px);/* Height of tabs */
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);

  border-bottom: 1px solid lightgray;
}
.tab-list button {
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  float: right;

  height: 100%;
  transition: color 0.3s;

  color: lightgray;
}
.tab-list button:hover {
  color: gray;
}
.tab-list button.active {
  transition: border-width 0.3s;

  border-bottom: 4px solid #FE847A !important;
  color: #FE847A;
}
.drawer-content {
  padding-left: 10px;
  padding-right: 10px;

  height: 100%;

  /* DEBUG */
  background: blue;
}

@media screen and (max-width: 400px), screen and (max-height: 350px) {
  .drawer-container {
    padding-top: calc(2em + 5px);/* Height of tabs */
    height: calc(100% - 2em - 5px);/* Parent height - Height of tabs */

    transition: padding-top 0.2s;
  }
  .drawer-content {
    height: 100%;
  }
  .tab-list {
    padding-left: 5px;
    width: calc(100% - 5px);/* Parent width - border */

    transform: none;
  }
  .tab-list button {
    float: left;
  }
}
