.drawer-container {
  padding-left: calc(2em + 10px);/* Height of tabs + border */
  height: 100%;

  background: #FAFAFA;

  transition: padding-top 0.2s;

  /* DEBUG */
  /*
  background: red;
  */
}
.tab-list {
  display: flex;
  flex-direction: row-reverse;

  position: absolute;
  top: 0;
  left: 10px;/* border */

  width: calc(100vh - 4em);/* Parent width - toolbar */
  height: 2em;/* Height of tabs */
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);

  /* border-bottom: 1px solid lightgray; */

  /* DEBUG */
  /*
  background: black;
  */
}
.tab-list button {
  flex: 1;

  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;

  height: 100%;
  transition: color 0.3s;

  color: lightgray;
}
.tab-list button:hover {
  color: gray;
}
.tab-list button.active {
  transition: border-width 0.3s;
  border-bottom: 4px solid #FE847A !important;
  color: #FE847A;
}
.drawer-content {
  padding-left: 10px;
  padding-right: 10px;

  height: 100%;

  /* DEBUG */
  /*
  background: blue;
  */
}
.drawer-border {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 10px;/* border */
  height: 100%;

  background: lightgray;
}
.drawer-border > * {
  position: absolute;
  left: 0;
  top: 50%;
}
.drawer-full {
  cursor: pointer;
}

@media screen and (max-width: 400px), screen and (max-height: 400px) {
  .drawer-container {
    padding-top: 2em;/* Height of tabs */
    height: calc(100% - 2em);/* Parent height - Height of tabs */

    transition: padding-top 0.2s;
  }
  .tab-list {
    flex-direction: row;
    width: calc(100% - 10px);/* Parent width - border */

    transform: none;
  }
  .drawer-content {
    height: 100%;
  }
}

@media screen and (max-width: 400px) {
  .drawer-container {
    padding-left: 2em;/* Height of tabs */
    padding-top: calc(2em + 10px);/* Height of tabs + border */
  }
  .tab-list {
    top: 10px;
    left: 0px;/* border */

    width: 100%;/* Parent width */
  }
  .drawer-border {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10px;/* border */

    background: lightgray;
  }
  .drawer-border > * {
    position: absolute;
    left: 50%;
    top: 0;

    transform: rotate(90deg);
  }
}
