/********* APP CONTENT *********/
:local(.app_content) {
  /*TODO: This is still dependent on the parent having display: flex.*/
  flex-grow: 1;

  display: flex;
  flex-direction: row;
}
:local(.app_content).column {
  flex-direction: column;
}

/********* APP VIEWPORT *********/
:local(.app_viewport) {

  --color-viewport-main: none;
  --color-viewport-main-dark: lightgray;
  --color-viewport-accent: gold;
  --color-viewport-text: black;

  flex-grow: 1;

  background: var(--color-viewport-main);
  color: var(--color-viewport-text);
  outline: 10px dashed var(--color-viewport-main-dark);
  outline-offset: -20px;
}

/********* APP DRAWER *********/
:local(.app_drawer) {
  --drawer-width: 300px;
  --drawer-tab-height: 32px;
  --drawer-handle-width: 4px;/* 12px on open */

  --color-drawer-main: darkgray;
  --color-drawer-main-dark: gray;
  --color-drawer-accent: gold;
  --color-drawer-text: black;
  --color-drawer-text-active: white;

  position: relative;
  z-index: 500;
  width: var(--drawer-width);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.5);
  background: var(--color-drawer-main);

  /* Drawer sliding */
  margin-left: calc(var(--drawer-handle-width) + var(--drawer-tab-height) - var(--drawer-width));
  left: calc(var(--drawer-width) - var(--drawer-tab-height) - var(--drawer-handle-width));
  transition:
    /* TODO: Although it looks nice, it is bad at transitions */
    /* margin-left 0.3s ease, */
    left 0.3s ease;
}
:local(.app_drawer).open {
  /* Drawer sliding */
  margin-left: 0;
  left: 0;
}

/********* DRAWER HANDLE *********/
:local(.drawer_handle) {
  width: var(--drawer-handle-width);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  cursor: auto;

  color: var(--color-drawer-main);
  background: var(--color-drawer-main-dark);

  transition: width 0.1s ease 0.3s;
}
:local(.drawer_handle) > * {
  /* Hide drawer handle when open */
  opacity: 0;
  transition: opacity 0.1s ease 0.3s;
}
:local(.drawer_handle).show {
  /* Show drawer handle when open */
  --drawer-handle-width: 12px;
  cursor: col-resize;
}
:local(.drawer_handle).show > * {
  /* Show drawer handle when open */
  opacity: 1;
}

/********* DRAWER CONTENT *********/
:local(.drawer_content) {
  width: calc(var(--drawer-width) - var(--drawer-handle-width));
  display: flex;
  flex-direction: column;

  /* NOTE: Remove this to make sure no content is outside of drawer */
  overflow: hidden;
}

/********* DRAWER CONTENT BAR *********/
:local(.drawer_content_bar) {
  width: 100%;
  min-height: var(--drawer-tab-height);
  display: flex;
  flex-direction: row;

  background: var(--color-drawer-main);
}
:local(.drawer_content_bar) > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  user-select: none;
  cursor: pointer;
}
:local(.drawer_tab_expander) {
  margin: auto auto;
  min-width: var(--drawer-tab-height);
  max-width: var(--drawer-tab-height);
  min-height: var(--drawer-tab-height);
  max-height: var(--drawer-tab-height);
}
:local(.drawer_tab_next) {
  margin: auto auto;
  min-width: var(--drawer-tab-height);
  max-width: var(--drawer-tab-height);
  min-height: var(--drawer-tab-height);
  max-height: var(--drawer-tab-height);
}
:local(.drawer_tab) {
  padding-top: 4px;
  padding-left: 0px;
  white-space: nowrap;

  color: var(--color-drawer-text);

  /* Hover animation */
  border-bottom: none;
  border-right: none;
  padding-right: 0px;
  transition: border-bottom 0.1s ease,
    padding-bottom 0.1s ease,
    border-right 0.1s ease,
    padding-right 0.1s ease,
    color 0.1s ease;
}
:local(.drawer_tab) > * {
  pointer-events: none;
}
:local(.drawer_tab):hover {
  color: var(--color-drawer-text-active);
}
:local(.drawer_tab).active {
  color: var(--color-drawer-accent);

  /* Hover animation */
  border-bottom: 4px solid currentColor;
  padding-bottom: 2px;
  border-right: none;
  padding-right: 0px;
}
/* Sideways drawer tabs */
.drawer-bar-sideways :local(.drawer_content) {
  flex-direction: row;
}
.drawer-bar-sideways :local(.drawer_content_bar) {
  width: var(--drawer-tab-height);
  height: 100%;
  flex-direction: column;
}
.drawer-bar-sideways :local(.drawer_tab) {
  padding-top: 0px;
  padding-left: 4px;
}
.drawer-bar-sideways :local(.drawer_tab) > * {
  flex-grow: 1;
  transform: rotateZ(-90deg);
}
.drawer-bar-sideways :local(.drawer_tab).active {
  /* Hover animation */
  border-bottom: none;
  padding-bottom: 0px;
  border-right: 4px solid currentColor;
  padding-right: 2px;
}

/********* DRAWER PANELS *********/
:local(.drawer_panel_container) {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  outline: 10px dashed transparent;
  outline-offset: -20px;
}
:local(.app_drawer).hide :local(.drawer_panel_container) {
  outline: 10px dashed var(--color-drawer-main-dark);
  transition: outline 0.1s ease 0.4s;
}
:local(.app_drawer).hide :local(.drawer_content_panel) {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease 0.3s, visibility 0s linear 0.4s;
}
:local(.drawer_content_panel) {
  width: 100%;
  height: 100%;

  visibility: visible;
  opacity: 1;
}

/********* BOTTOM DRAWER *********/
:local(.app_drawer).drawer-side-bottom {
  width: 100%;
  height: var(--drawer-width);
  flex-direction: column;

  /* Drawer sliding */
  margin-top: calc(var(--drawer-handle-width) + var(--drawer-tab-height) - var(--drawer-width));
  top: calc(var(--drawer-width) - var(--drawer-tab-height) - var(--drawer-handle-width));
  transition:
    /* TODO: Although it looks nice, it is bad at transitions */
    /* margin-top 0.3s ease, */
    top 0.3s ease;
}
:local(.app_drawer).open.drawer-side-bottom {
  /* Drawer sliding */
  margin-top: 0;
  top: 0;
}
.drawer-side-bottom :local(.drawer_handle) {
  height: var(--drawer-handle-width);
  width: 100%;

  transition: height 0.1s ease 0.3s;
}
.drawer-side-bottom :local(.drawer_handle).show {
  /* Show drawer handle when open */
  cursor: row-resize;
}
.drawer-side-bottom :local(.drawer_content) {
  height: calc(var(--drawer-width) - var(--drawer-handle-width));
  width: 100%;
}

/********* FULL DRAWER (OPENED) *********/
:local(.app_drawer).open.full {
  --drawer-width: 100vw!important;
}
:local(.app_drawer).open.drawer-side-bottom.full {
  --drawer-width: calc(100vh - var(--toolbar-height) - 2px)!important;
}
