.test-input-container {
  display: flex;
  flex-direction: row;

  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  height: 1.5em;
  border-bottom: 1px solid gray;

  white-space: nowrap;
}

.test-input-placeholder {
  padding-bottom: 5px;
  border-bottom: 4px solid gray;
}

.test-input-field {
  flex-grow: 1;
  font-size: 16px;
  min-width: 0;

  background: none;
  outline: none;
  border: none;

  color: white;
}

.test-input-container .status-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.test-input-addremove {
  fill: gray;
  float: right;
}

.test-input-addremove:hover {
  fill: white;
}
