.appContainer {
    background: dodgerblue;
    width: 100%;
    height: 100%;
}

.toolbar {
    border: 1px solid white;
}

.appContent {
    width: 1rem;
    height: 1rem;
    background: limegreen;
}

.appViewport {
    background: navy;
}

.appDrawer {
    background: gold;
}

.drawerHandle {
    border: 1px solid gray;
}

.drawerContent {
    background: green;
}
