.drawer-container {
  padding-left: var(--panel-tab-border);/* Height of tabs + border */
  height: 100%;

  background: var(--color-drawer-main);
  color: var(--color-drawer-text);

  transition: padding-top 0.2s;

  /* DEBUG */
  /*
  background: red;
  */
}
.tab-list {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  overflow-x: scroll;

  position: absolute;
  top: 0;
  left: var(--panel-border-size);/* border */

  width: calc(100vh - var(--toolbar-height));/* Parent width - toolbar */
  height: var(--panel-tab-size);/* Height of tabs */
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100%);

  padding-right: 5px;

  /* border-bottom: 1px solid lightgray; */

  /* DEBUG */
  /*
  background: black;
  */
}
.tab-list button {
  flex: 1;

  font-size: inherit;
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;

  height: 100%;
  transition: color 0.3s;

  color: var(--color-drawer-text-subtle);
}
.tab-list button:hover {
  color: var(--color-drawer-text);
}
.tab-list button.active {
  transition: border-width 0.3s;
  border-bottom: 4px solid var(--color-drawer-accent) !important;
  color: var(--color-drawer-accent);
}
.drawer-content {
  padding-left: 10px;
  padding-right: 10px;

  height: 100%;

  /* DEBUG */
  /*
  background: blue;
  */
}
.drawer-border {
  position: absolute;
  top: 0px;
  left: 0px;
  width: var(--panel-border-size);/* border */
  height: 100%;
  cursor: grab;

  background: var(--color-drawer-main-dark);
}
.drawer-border > * {
  position: absolute;
  left: 0;
}
.drawer-border.dragging {
  cursor: grabbing;
}

/*Refer to App.css*/
@media screen and (max-width: 420px), screen and (max-height: 420px) {
  .drawer-container {
    padding-top: var(--panel-tab-size);/* Height of tabs */
    height: calc(100% - var(--panel-tab-size));/* Parent height - Height of tabs */

    transition: padding-top 0.2s;
  }
  .tab-list {
    flex-direction: row;
    width: calc(100% - var(--panel-border-size));/* Parent width - border */

    padding-left: 5px;
    transform: none;
  }
  .drawer-content {
    height: 100%;
  }
}
/*Fixed 10px padding from left side*/
@media screen and (max-height: 420px) {
  .tab-right {
    padding-right: 10px;
  }
}
@media screen and (max-width: 420px) {
  .drawer-container {
    padding-left: var(--panel-tab-size);/* Height of tabs */
    padding-top: var(--panel-tab-border);/* Height of tabs + border */
  }
  .tab-list {
    top: var(--panel-border-size);/* border */
    left: 0px;

    padding-left: 5px;
    width: 100%;/* Parent width */
  }
  /*Fixed 5px padding from left side*/
  .tab-right {
    padding-right: 5px;
  }
  .drawer-border {
    width: 100%;
    height: var(--panel-border-size);/* border */
  }
  .drawer-border > * {
    left: 50%;
    top: -2px;/* Fix offset positioning */

    transform: rotate(90deg);
  }
}
