:local(.notification_container) {
  position: fixed;
  z-index: 999;

  max-height: calc(100vh - var(--toolbar-height) - 25px);
  overflow-y: scroll;

  color: var(--color-surface-text);
}
:local(.notification_container) > * {
  margin: 5px;
}

.notification-message-type-default {
  border-top: 6px solid var(--color-surface-dark);
  background: var(--color-surface);
}
.notification-message-type-error {
  border-top: 6px solid var(--color-surface-error-dark)!important;
  background: var(--color-surface-error)!important;
}
.notification-message-type-warning {
  border-top: 6px solid var(--color-surface-warning-dark)!important;
  background: var(--color-surface-warning)!important;
}
.notification-message-type-success {
  border-top: 6px solid var(--color-surface-success-dark)!important;
  background: var(--color-surface-success)!important;
}
