.title {

    width: 100%;
    background-color: white;
    border-bottom-style: solid;
    margin-left: 0px;
}

.title h1 {


    font-family: 'Arvo', serif;
    color: black;
    font-size: 50px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;

}

body {
    background-color: #b3fffa;
}

.title img{

    height: 40px;
    width: 60px;
}

.footer {

    font-family: "Arvo", Serif;
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-top: solid;
    background-color: white;
    text-align: center;

}

.arrow {
    position: absolute;
    font-family: "Arvo", Serif;
    bottom: 15%;
    right: 5%;
    cursor: pointer;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    padding: 2px 36px;
    border-style: dashed;
}

.arrowbutton {

    background-color: #FFC82C;
    color: #7E55F3;
    position: center;
    margin-left: 50%;


}
