.homepage-container {
    width: 100%;
    height: 100%;
    background-color: #077787;

    animation-fill-mode: forwards;
    padding-bottom: 25px;
}

@keyframes fadeout {
    0% { opacity: 1; }
    80% { opacity: 0; }
    100% { opacity: 0; }
}

.title {

    width: 100%;
    background-color: white;
    border-bottom-style: solid;
    margin-left: 0;
    position: static;
    display: block;
}

.title img{

    width: 300px;
    height: 100px;
    display: block;
    margin: 15px auto 15px auto;
}

.content{

    font-family: "Arvo", "Serif" ;
    text-align: center;
    color: white;
    display: block;
}

.content h1{
    font-size: 9vh;
}

.content p{
    font-size: 5vh;
}

.buttons {
    display: table;
    margin: 0 auto;
}

.buttons button{

    font-family: "Arvo", "Serif";
    font-size: 25px;
}

.buttons {
    width: 200px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    transition: all 0.3s linear;
    font-family: Arvo;
}

.helpbutton {
    width: 125px;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-align: center;
    vertical-align: middle;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    transition: all 0.3s linear;
    font-family: Arvo;
}

.buttons:hover {
    background-color: #FEFEFE;
    color: #C4C4C4;
    cursor: pointer;
}

.helpbutton:hover {
    background-color: #FEFEFE;
    color: #C4C4C4;
    cursor: pointer;
}

a,a:hover,a:click, a:visited{
    border:none;
    outline:none;
    text-decoration:none;
    color:inherit;
    -webkit-tap-highlight-color: white;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 200px) {

}

