.statetag-container {
  margin: 5px;
  padding: 5px;
  background: #4D4D4D;
}

.statetag-input {
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
  color: white;
  width: 100%;
}
