.statelist-container {
  margin-right: 5px;/*Same as boxadd-icon*/

  width: 100%;
  max-width: 100%;
}

.boxadd-icon {
  position: absolute;
  right: 5px;/*Same as statelist-container*/
  bottom: 0;
}

.statelist {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-right: 20px;/*the approx width of the box add button*/
}
.statelist .triangle-icon {
  font-size: inherit;
  margin-top: auto;
  margin-bottom: auto;
  fill: white;

  width: 1em;
  height: 1em;

  transform: rotate(90deg);
}
