#label-editor {
    visibility: hidden;
    position: absolute;
    z-index: 2;

    font-size: 1.5em;
    background: lightgray;
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
}
#label-editor>input {
  position: relative;
  display: inherit;
  width: 64px;
  border-radius: inherit;
  margin: 0;
  border: none;
  outline: none;
  padding: 0 .325em;
  z-index: 1;

  text-align: center;
}
