:local(.tray_container) {
  display: flex;
  width: 7em;

  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid var(--color-viewport-back-detail);
  border-radius: 2em;

  background: var(--color-viewport-back);
}
:local(.tray_container).hide {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
:local(.tray_button) {
  flex: 1;
  padding: 0em 0.8em;
  border-right: 1px solid var(--color-viewport-text);
}
:local(.tray_button):last-child {
  border-right: none;
}
:local(.tray_button) {
  color: var(--color-viewport-back-detail);
}
:local(.tray_button).active {
  color: var(--color-viewport-text);
}