.option-container input {
  outline: none;
  margin-right: 10px;
}
.option-container * {
  cursor: pointer;
}
#options-theme-select-container {
  margin-bottom: 5px;
}
#options-theme-select-container > label {
  font-size: 1.2em;
}
#options-theme-select-container > select {
  margin-top: 5px;
  margin-bottom: 5px;
}
