:local(.panel_container) {
}
:local(.panel_title) > h1 {
  border-bottom: 1px solid black;
}
:local(.panel_content) {
  display: flex;
  flex-direction: column;
}
:local(.panel_divider) {
  border: 1px solid black;
  margin: 0.5em 0em;
}
/*
:local(.panel_content) section button {
  border: none;
  padding: 0;
}
*/
