:local(.panel_container) {
}
:local(.panel_title) > h1 {
  border-bottom: 1px solid black;
}
:local(.panel_content) {
  display: flex;
  flex-direction: column;
}
:local(.panel_button).icon-button {
  display: flex;
  padding: 0.5em 0em;
}
:local(.panel_button):hover {
  background: gray;
}
:local(.panel_button).icon-button > svg {
  width: 4em;
  height: 4em;
}
:local(.panel_button).icon-button > label {
  flex: 1;
  align-self: center;

  font-size: 1.5em;
}
