:local(.panel_container) {
}
:local(.panel_title) > h1 {
  border-bottom: 1px solid black;
}
:local(.panel_content) {
  display: flex;
  flex-direction: column;
}
:local(.panel_button) {
  display: flex;
  padding: 0.5em 0em;
}
:local(.panel_button):hover {
  background: gray;
}
:local(.panel_button) svg {
  width: 20%;
  min-width: 4em;
  min-height: 4em;
}
:local(.panel_button) label {
  width: 80%;
  text-align: left;
  align-self: center;
  font-size: 1.2em;
  padding: 0 0.5em;

  /* Override default icon button styles */
  display: inline-block;
  position: relative;
  opacity: 1;
}
