#label-editor {
  visibility: hidden;
  position: absolute;
  outline: none;
  z-index: 2;

  max-width: 8em;
  resize: vertical;

  background: var(--color-labeleditor-main);
  display: inline-block;

  padding: 4px;
}

.label-editor-input {
  position: relative;
  display: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  z-index: 1;

  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid var(--color-labeleditor-text);
}
.label-editor-tray {
  width: 100%;
  min-height: 20px;
}
.label-editor-tray>* {
  height: 100%;
}
.label-editor-tray-used {
  margin-right: 5px;
}
.label-editor-tray-default {
  opacity: 0.5;
}

.bubble {
  border-radius: 0.4em;
}

/*the bubble triangle*/
.bubble:after {
  content: "";
  position: absolute;
  bottom: -10px; /* value = - border-top-width - border-bottom-width */
  left: calc(50% - 10px); /* controls horizontal position */
  border-width: 10px 10px 0; /* vary these values to change the angle of the vertex */
  border-style: solid;
  border-color: var(--color-labeleditor-main) transparent;
  display: block;
  width: 0;
  z-index: -1;
}
