:local(.fullscreen_button) {
	position: absolute;
	top: 0px;
	right: 0px;
	
	width: 2em;
	height: 2em;

	color: var(--color-background-lite);
	transition: color 0.3s ease;
	z-index: 1000;
}

:local(.fullscreen_button):hover {
	color: var(--color-background-active);
}
