:local(.icon_button) {
  position: relative;
  background-color: transparent;
  color: inherit;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;

  /** BUGFIX: So we don't get huge icons. */
  max-width: 20vw;
}
:local(.icon_button) * {
  pointer-events: none;
}
:local(.icon_button):disabled {
  cursor: auto;
}
:local(.icon_button) svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
:local(.icon_button) label {
  display: flex;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 0.8em;

  opacity: 0;
}
:local(.icon_button).hint svg {
  opacity: 0.1;
}
:local(.icon_button).hint label {
  opacity: 1;
}
