:local(.upload_button) {
  position: relative;
  overflow: hidden;
}
/* HACK: make an invisible input that users can click */
:local(.upload_input) {
  position: absolute;
  font-size: 100px;
  opacity: 0;

  pointer-events: all;
  cursor: pointer;
}
:local(.upload_input):disabled {
  cursor: auto;
}
