#root {
  width: 100%;
  height: 100%;


  --color-toolbar-text: #FFFFFF;
  --color-toolbar-text-invert: #000000;
  --color-toolbar-main: #07889B;
  --color-toolbar-main-dark: #077787;
  --color-toolbar-accent: #FEE781;
  --color-toolbar-accent-dark: #FFCD00;

  --color-drawer-text: #FFFFFF;
  --color-drawer-text-subtle: #909090;
  --color-drawer-text-ghost: #676767;
  --color-drawer-text-back: #4D4D4D;
  --color-drawer-text-invert: #000000;
  --color-drawer-main: #575757;
  --color-drawer-main-dark: #3D3D3D;
  --color-drawer-accent: #FFF2BA;
  --color-drawer-error: #B05454;

  --color-testing-failure: #FF0000;
  --color-testing-success: #00FF00;
  --color-testing-working: #808080;
  --color-testing-text: #FFFFFF;

  --color-notification-text: #F7F5E6;
  --color-notification-info: #7D7D7D;
  --color-notification-info-dark: #3D3D3D;
  --color-notification-error: #C77575;
  --color-notification-error-dark: #B54A4A;
  --color-notification-warning: #D6A922;/*#E6CB53;*/
  --color-notification-warning-dark: #AD8715;/*#DFBC20;*/
  --color-notification-success: #A1C797;
  --color-notification-success-dark: #468C34;

  --color-viewport-error: #F54545;
  --color-viewport-warning: #E6CB53;
  --color-viewport-testing: #FFCD00;
  --color-highlight-select: #808080;

  --color-labeleditor-text: #000000;
  --color-labeleditor-main: #D3D3D3;

  --color-graph-node: #FEE781;
  --color-workspace-main: #FFFFFF;
  --color-workspace-text: #000000;

  --color-selection-main: #000000;
  --color-selection-border: #000000;

  

  --color-main: darkgray;
  --color-alt: lightgray;
  --color-accent: gold;
  --color-back: white;
  --color-surface: gray;
  --color-error: tomato;

  --color-main-text: white;
  --color-alt-text: black;

  --color-main-lite: white;
  --color-main-dark: gray;
  --color-alt-lite: white;
  --color-alt-dark: gray;
}
.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* TODO: For production, add this back in. */
  overflow: hidden;
}
.app-bar.open ~ .app-content {
  visibility: hidden;
  transition: visibility 0s linear 0.3s;
}
