#root {
  width: 100%;
  height: 100%;

  --color-main: darkgray;
  --color-alt: lightgray;
  --color-accent: gold;
  --color-back: white;
  --color-surface: gray;
  --color-error: tomato;

  --color-main-text: white;
  --color-alt-text: black;

  --color-main-lite: white;
  --color-main-dark: gray;
  --color-alt-lite: white;
  --color-alt-dark: gray;
}
.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* TODO: For production, add this back in. */
  overflow: hidden;
}
.app-bar.open ~ .app-content {
  visibility: hidden;
  transition: visibility 0s linear 0.3s;
}
.viewport-widget {
  position: absolute;
  min-width: 32px;
  min-height: 32px;
  max-width: 100%;
  max-height: 100%;
}
.viewport-side-top {
  top: 0;
}
.viewport-side-left {
  left: 0;
}
.viewport-side-right {
  right: 0;
}
.viewport-side-bottom {
  bottom: 0;
}
