:local(.container) {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;

  font-size: 1.5em;
  width: 3em;
  height: 3em;
}
:local(.icon) {
  width: 100%;
  height: 100%;
}
:local(.container):hover :local(.icon) {
  fill: gray;
}
:local(.container):active :local(.icon) {
  fill: white;
}
