.notification_container {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.notification_container p {
    margin-top: 0;
}

.notification_container,
.notification_container:global(.default) {
    border-top: 0.4em solid var(--color-surface-dark);
    background: var(--color-surface-lite);
}

.notification_container:global(.warning) {
    border-top: 0.4em solid var(--color-surface-warning-dark);
    background: var(--color-surface-warning);
}

.notification_container:global(.error) {
    border-top: 0.4em solid var(--color-surface-error-dark);
    background: var(--color-surface-error);
}

.notification_container:global(.success) {
    border-top: 0.4em solid var(--color-surface-success-dark);
    background: var(--color-surface-success);
}
