.panel-content {
  width: 100%;
  text-overflow: ellipsis;
}
.export-button {
  text-align: left;
  color: var(--color-drawer-text);

  width: 100%;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}
.export-button svg {
  height: 4em;
  vertical-align: middle;
  float: left;
  flex-shrink: 0;
}
.export-button label {
  font-size: 1.4em;
  vertical-align: middle;

  cursor: pointer;
}
.export-button:hover {
  background: var(--color-drawer-text-ghost);
}
.export-button:disabled {
  opacity: 0.2;
}
.export-button:disabled:hover {
  background: none;
}
