.testinginput-container {
  display: flex;
  flex-direction: row;

  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  height: 1.5em;
  border-bottom: 1px solid var(--color-drawer-text-subtle);

  white-space: nowrap;
}
.testinginput-container:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid var(--color-drawer-text-subtle);
}
.testinginput-container.active {
  background: rgba(255, 255, 255, 0.06);
}

.testinginput-field {
  flex-grow: 1;
  font-size: 16px;
  min-width: 0;

  background: none;
  outline: none;
  border: none;

  color: var(--color-drawer-text);
}
.testinginput-field::placeholder {
  color: var(--color-drawer-text-subtle);
}
.testinginput-field::-ms-input-placeholder {
  color: var(--color-drawer-text-subtle);
}

.testinginput-container .status-icon {
  margin-left: 5px;
  margin-right: 5px;
}
.testinginput-container .status-icon:hover, .testinginput-container .status-icon:focus {
  fill: var(--color-drawer-accent);
}

.testinginput-submit {
  margin-left: 5px;
  margin-right: 5px;

  fill: var(--color-drawer-text);
  float: right;
}
.testinginput-submit:hover, .testinginput-submit:focus {
  fill: var(--color-drawer-accent);
}
