#root {
  width: 100%;
  height: 100%;

  --color-graph-node: #FEE781;
  --color-graph-text: #000000;
  --color-graph-select: #808080;

  --color-accent: #FFCD00;

  --color-primary: #07889B;
  --color-primary-text: #F7F5E6;
  --color-primary-lite: #63ADB8;
  --color-primary-dark: #077787;

  --color-surface: #AAAAAA;
  --color-surface-text: #000000;
  --color-surface-active: #FFFFFF;
  --color-surface-lite: #CCCCCC;
  --color-surface-dark: #777777;

  --color-background: #FFFFFF;
  --color-background-lite: #CCCCCC;
  --color-background-active: #777777;

  --color-error: #F54545;/*#B05454*/
  --color-surface-error: #C77575;
  --color-surface-error-dark: #B54A4A;

  --color-success: #00FF00;
  --color-surface-success: #A1C797;
  --color-surface-success-dark: #468C34;

  --color-warning: #E6CB53;
  --color-surface-warning: #D6A922;
  --color-surface-warning-dark: #AD8715;
}

/*For hiding scrollbars*/
::-webkit-scrollbar {
  display: none;
}
/*
* {
  -ms-overflow-style: none;
}
*/

:local(.app_container) {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* TODO: For production, add this back in. */
  overflow: hidden;
}

:local(.app_bar).open ~ :local(.app_content) {
  visibility: hidden;
  transition: visibility 0s linear 0.3s;
}
