#root {
  width: 100%;
  height: 100%;

  --color-graph-node: #FEE781;
  --color-graph-text: #000000;
  --color-graph-text-alt: #FFFFFF;
  --color-graph-select: #808080;

  --color-accent: #FFCD00; /*OFFICIAL UCSD COLOR*/

  --color-primary: #006A96; /*OFFICIAL UCSD COLOR*/
  --color-primary-text: #F7F5E6;
  --color-primary-text-alt: #000000;
  --color-primary-lite: #5AA3C1;
  --color-primary-dark: #005173;

  --color-surface: #747678;/*OFFICIAL UCSD COLOR*/
  --color-surface-text: #FFFFFF;
  --color-surface-text-alt: #3D3D3D;
  --color-surface-active: #9A9C9F;
  --color-surface-lite: #AFA9A0;
  --color-surface-dark: #4D4D4D;

  --color-background: #FFFFFF;
  --color-background-text: #000000;
  --color-background-lite: #CCCCCC;
  --color-background-active: #777777;

  --color-error: #F54545;/*#B05454*/
  --color-surface-error: #C77575;
  --color-surface-error-dark: #B54A4A;

  --color-success: #00FF00;
  --color-surface-success: #A1C797;
  --color-surface-success-dark: #468C34;

  --color-warning: #E6CB53;
  --color-surface-warning: #D6A922;
  --color-surface-warning-dark: #AD8715;
}

/*For hiding scrollbars*/
::-webkit-scrollbar {
  display: none;
}
/*
* {
  -ms-overflow-style: none;
}
*/

:local(.app_container) {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* TODO: For production, add this back in. */
  overflow: hidden;

  opacity: 0.0;
  transition: opacity 0.3s ease;
}
:local(.app_container).active {
  opacity: 1.0;
}

:local(.app_bar).open ~ :local(.app_content) {
  visibility: hidden;
  transition: visibility 0s linear 0.3s;
}

.viewport {
  width: 100%;
  height: 100%;
}