.graph-node {
  fill: var(--color-graph-node);
  stroke: var(--color-workspace-text);
}
.graph-node-inner {
  stroke: var(--color-workspace-text);
}
.graph-node-label {
  fill: var(--color-workspace-text);
}
.graph-edge {
  stroke: var(--color-workspace-text);
}
.graph-edge-label {
  fill: var(--color-workspace-text);
}
.graph-initial {
  stroke: var(--color-workspace-text);
}
.graph-selection {
  fill-opacity: 0.1;
  fill: var(--color-selection-main);
  stroke: var(--color-selection-border);
}
.highlight-select, .highlight-test {
  stroke: var(--color-highlight-select);
}
.highlight-warning {
  stroke: var(--color-viewport-warning);
}
.highlight-error {
  stroke: var(--color-viewport-error);
}
