.graph-node {
  fill: var(--color-graph-node);
  stroke: var(--color-graph-text);
}
.graph-node-inner {
  stroke: var(--color-graph-text);
}
.graph-node-label {
  fill: var(--color-graph-text);
}
.graph-edge {
  stroke: var(--color-graph-text);
}
.graph-edge-label {
  fill: var(--color-graph-text);
}
.graph-initial {
  stroke: var(--color-graph-text);
}
.graph-selection {
  fill-opacity: 0.1;
  fill: var(--color-graph-text);
  stroke: var(--color-graph-text);
}
.highlight-select, .highlight-test {
  stroke: var(--color-background-lite);
}
.highlight-warning {
  stroke: var(--color-warning);
}
.highlight-error {
  stroke: var(--color-error);
}
