.icon-button {
  background: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;

  cursor: pointer;
}

.icon-button > * {
  pointer-events: none;
}

.icon-button:disabled {
  cursor: auto;
}
