.landing-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  overflow-x: hidden;
  overflow-y: auto;
}
.landing-container .content-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-color: #077787;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);

  z-index: 1;
}
.landing-container header {
  position: relative;
  display: block;
  height: 6em;
  border-bottom: 4px solid black;

  background: white;
}
.landing-container .content {
  flex: 1;
  position: relative;
  display: block;
  min-height: 240px;
}
.landing-container footer {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 6em;
  margin-bottom: 1em;
}
.nobreak {
  white-space: nowrap!important;
}

#logo {
  width: 70%;
  height: 100%;
}

/** QUOTE CONTAINER **/
.content-quote-container {
  margin-top: 8vw;
  margin-left: auto;
  margin-right: auto;
  max-width: calc((60vw + 60vh) / 2);

  opacity: 1;
  transition: opacity 0.3s ease;
}
@media screen and (max-height: 600px) {
  .content-quote-container {
    font-size: 0.7em;
  }
}
@media screen and (max-height: 520px) {
  .content-quote-container {
    opacity: 0;
  }
}

/** TUTORIAL BUTTON **/
#tutorial-button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding-top: 1em;

  font-family: 'Arvo', sans-serif;
  /* If increase font, subtract from bottom-padding of launch button */
  font-size: 1.2em;

  color: lightgray;
  transition: color 0.3s ease;
}
#tutorial-button:hover {
  color: white;
}

/** LAUNCH BUTTON **/

.launch-container {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-bottom: 1em;
}
#launch-button {
  background: none;
  outline: none;
  border: 8px solid white;
  padding: 8px;
  cursor: pointer;

  font-family: 'Arvo', sans-serif;
  font-size: 4em;

  width: 100%;
  max-width: 80vw;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

  color: white;
  transition: color 0.3s ease, background-color 0.3s ease, text-shadow 0.3s ease;
}
#launch-button:hover {
  background: white;
  color: #05535E;
  text-shadow: none;
}
@media screen and (max-width: 400px) {
  #launch-button {
    font-size: 2em;
    animation: fadein 0.8s linear forwards;
  }
  #launch-button:after {
    content: "pls?";
  }
  #launch-button:hover:after {
    content: "thx!";
  }
}
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeout {
  0% { opacity: 1; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

/** SET CONTAINER **/

.set-container {
  display: flex;
  flex-direction: row;
  color: white;

  width: 100%;
}
.set-container .openset, .set-container .closeset {
  display: inline-block;
  padding: 20px;

  font-family: 'Arvo', sans-serif;
  font-size: 4em;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.set-container .openset {
  text-align: right;
  width: 4em;
}
.set-container .closeset {
  text-align: left;
  width: 4em;
}

/** INFO LINKS **/

.landing-container a.info {
  cursor: pointer;
  color: #C9B55D;
  fill: #C9B55D;

  transition: color 0.3s ease, fill 0.3s ease;
}
.landing-container a.info:hover {
  color: #DEC557;
  fill: #DEC557;
}
.landing-container a.info > svg {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-right: 5px;
}

/** RETURN HOME ICON **/
#return-home {
  position: absolute;
  bottom: -3em;
  right: 0;
  margin-right: 2em;
  cursor: pointer;

  fill: gray;
  transition: fill 0.3s ease;
}
#return-home:hover {
  fill: #DEC557
}

/** UTILITY **/

.landing-container .utility {
  margin-bottom: 2em;
}
.landing-container .utility > * {
  line-height: 2em;
}

/** CREDITS **/

.landing-container .credits {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;

  color: gray;
}
.landing-container .credits > * {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 1em;
}
.landing-container .credits .space {
  flex: 1;
}
.landing-container .credits .left {
  flex: 1;
  text-align: right;

  max-width: 10em;
}
.landing-container .credits .right {
  flex: 1;
  text-align: left;

  max-width: 10em;
}
.landing-container .credits .left div {
  font-weight: bold;
}
.landing-container .credits .right div {
  font-weight: bold;
}
.landing-container .credits a {
  display: inline-block;
}
.landing-container .credits .left a {
  padding-left: 10px;
}
.landing-container .credits .right a {
  padding-right: 10px;
}
.landing-container .credits a:hover {
  cursor: pointer;
  color: #DEC557;

  transition: color 0.3s ease;
}
@media screen and (max-width: 480px) {
  .landing-container .credits {
    flex-direction: column;
  }
  .landing-container .credits .left, .landing-container .credits .right {
    text-align: center;

    margin-left: auto;
    margin-right: auto;
  }
  .landing-container .credits .left a {
    padding-left: 0;
  }
  .landing-container .credits .right a {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/** SUBTITLES **/

.landing-container .subtitle-container {
  margin-top: 3em;
}
.landing-container .subtitle {
  margin: 10px;

  font-size: 14px;
  color: lightgray;
}
