:local(.panel_container) {
}
:local(.panel_title) > h1 {
  border-bottom: 1px solid var(--color-panel-text);
}
:local(.panel_content) {
  display: flex;
  flex-direction: column;
}
:local(.panel_bottom) {
  height: 3em;
}
