.viewport-container {
  width: 100%;
  height: 100%;
  pointer-events: none;

  outline: 0.8em dashed rgba(0, 0, 0, 0.02);
  outline-offset: -2.5em;

  transition: outline-color 0.1s ease;
}
.viewport-container > * {
  pointer-events: auto;
}
.viewport-normal {
  outline-color: rgba(0,0,0,0.02);
}
.viewport-dangerous {
  outline-color: var(--color-viewport-error);
}
.viewport-waiting {
  outline-color: rgba(0,0,0,0.1);
}
.viewport-testing {
  outline-color: var(--color-viewport-testing);
}

.anchor-bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.anchor-bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
