.navbar_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    margin-top: 2em;
    position: absolute;
    min-width: 32px;
    min-height: 32px;
    max-width: 100%;
    max-height: 100%;
}

.navbar_widget,
.navbar_widget_container {
    width: 100%;
    height: 100%;
}

.navbar_widget,
.navbar_widget_container > * {
    color: var(--color-viewport-text);
}

.navbar_widget:hover,
.navbar_widget_container > *:hover {
    color: var(--color-viewport-text-active);
}

.navbar_widget:disabled,
.navbar_widget_container > *:disabled {
    color: var(--color-viewport-back-detail);
}
