.container {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;

    /** DEBUG: This should inherit from its parent instead */
    color: white;
}

.icon {
    background: none;
    border: none;
    width: 2rem;
    height: 2rem;

    /** Inherits the color from the container */
    color: currentColor;
}
