.drawer-expand {
  cursor: pointer;
  fill: var(--color-drawer-text-subtle);
  /*transition: fill 0.3s ease, transform 0.3s ease;*/
  transform: rotate(-90deg);
  width: 1.5em;
  min-width: 1.5em;
  min-height: 1.5em;
  height: 1.5em;
  margin: 0.4em;
}
.drawer-expand:hover {
  fill: var(--color-drawer-text);
}
.drawer-expand.open {
  transform: rotate(90deg);
}
