:local(.tray_container) {
  display: flex;
  width: 6em;

  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid var(--color-viewport-back-detail);
  border-radius: 2em;

  color: var(--color-viewport-text);
  background: var(--color-viewport-back);
}
/* TODO: Icon button styles are overwriting these changes... */
:local(.tray_container) .icon-button {
  flex: 1;
  padding: 0em 0.8em;
  border-right: 1px solid var(--color-viewport-text);
}
:local(.tray_container) .icon-button:last-child {
  border-right: none;
}

:local(.tray_container) .icon-button {
  fill: var(--color-viewport-back-detail);
}
:local(.tray_container) .icon-button.active {
  fill: var(--color-viewport-text);
}
