:local(.trash_container) {
  width: 4em;
  padding: 0.5em;

  cursor: pointer;

  fill: var(--color-viewport-text);
}
:local(.trash_container):hover {
  fill: var(--color-viewport-error);
}
:local(.trash_container) > * {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
