html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;

    /* Disable drag-down reload behavior */
    overscroll-behavior-y: contain;
}

._center {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 100%;
    height: 100%;
}
