/** Loading styles **/
#loading {
    z-index: 9998;
    pointer-events: none;
    background: #FFFFFF;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#root:not(:empty) + #loading {
    opacity: 0;
    visibility: hidden;
}

#loading ._spinner > div {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 3px;
    background-color: #333333;
    border-radius: 50%;
    animation: _spinner-bouncedelay 1.4s 0s infinite ease-in-out both;
}

#loading ._spinner > div:first-child { animation-delay: 0.5s; }
#loading ._spinner > div:nth-child(2) { animation-delay: 0.66s; }
#loading ._spinner > div:last-child { animation-delay: 0.82s; }

@keyframes _spinner-bouncedelay {
    0%,
    80%,
    100% { transform: scale(0); }
    40% { transform: scale(1); }
}

/** Error styles **/
#error {
    z-index: 9999;
    pointer-events: none;
    top: 64px;
}
