.viewport-container {
  width: 100%;
  height: 100%;
  pointer-events: none;

  outline: 0.8em dashed rgba(0, 0, 0, 0.02);
  outline-offset: -2.5em;

  transition: outline-color 0.1s ease;
}
.viewport-container>* {
  pointer-events: auto;
}

.anchor-bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.anchor-bottom-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
